<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Marca</th>
    <th scope="col">Submarca</th>
    <th scope="col">Descripción</th>
    <th scope="col">Modelo</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let auto of autos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{auto?.marca}}</td>
    <td>{{auto?.submarca }}</td>
    <td>{{auto?.descripcion}}</td>
    <td>{{auto?.modelos}}</td>
    <td><img src="../../assets/img/001-delete.png" alt="delete-icon"></td>
    <td><img src="../../assets/img/002-edit.png" alt="edit-icon" (click)="openModalEditar(auto)"></td>
  </tr>
  </tbody>
</table>

<div class="d-flex justify-content-center">
<ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="autos?.length" aria-label="Default pagination"></ngb-pagination>
</div>