.list-item{
    background-color: #dae1e7;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 5px 10px 5px;
    display: flex;
    justify-content: space-between;
}

.list-item-text {
    font-size: 1.3em;
}

.list-item-icon{
    transition: transform .2s;
}
.list-item-icon:hover{
    transform: scale(1.2);
    cursor: pointer;
}