.option{
    background-color: #00909e;
    text-align: center;
    font-size: 1.5em;
    opacity: 0.9;   
}

.option:hover{
    opacity: 1.0;
    cursor: pointer;
}

.option-text {
    padding: 5px 0;
    color: #dae1e7;
}
#content{
    padding: 15px;
}